.Navbar-logo {
    height: 32px;
    width: 100px;
    display: flex;
}

.MuiAppBar-root {
    // box-shadow: unset !important;
    box-shadow: -1px 5px 20px 15px #181515 !important;
}

a {
    color: #181515;
    text-decoration: none;
}